@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .list-card {
    max-height: 30rem;
    overflow: scroll;
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}

.btn-add {
  height: 80%;
  margin: 0 1rem;
}
