<nb-list *ngIf="transactions.length > 0; else noData">
  <nb-list-item *ngFor="let transaction of transactions">
    <div class="content-container">
      <div class="content-item main-text">
        <strong>{{transaction.description}}</strong><strong>{{transaction.amount | currency:'INR'}}</strong>
      </div>
      <div class="content-item">
        <label>{{transaction.dated | date:'mediumDate'}}</label>
        <label *ngIf="transaction.category">{{transaction.category}}</label>
        <label *ngIf="!transaction.category">{{transaction.paymentType}}</label>
      </div>
    </div>
    <div *ngIf="!isDashboard" class="button-container">
      <nb-action class="control-item" icon="edit-2-outline" nbTooltip="Edit" nbTooltipPlacement="bottom"
        nbTooltipStatus="primary" (click)="onEdit(transaction)"></nb-action>
      <nb-action class="control-item" icon="trash-2-outline" nbTooltip="Delete" nbTooltipPlacement="bottom"
        nbTooltipStatus="primary" (click)="onDelete(transaction)">
      </nb-action>
    </div>
  </nb-list-item>
</nb-list>
<ng-template #noData>
  <nb-alert outline="basic">No data found.</nb-alert>
</ng-template>