.content-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: -0.5rem;
    justify-content: space-around;
  }
  
  .content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-text {
    font-size: larger;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    nb-action {
      padding: 1rem;
      font-size: large;
    }
  }
